body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 18px;
    color: #656565;
    line-height: 1.4;
    font-weight: 300;
}

*,
*:after,
*:before {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/

.container {
    width: 100%;
    max-width: 1149px;
    margin: 0 auto;
}

.container--inner {
    background-color: #ffe1bd;
}

/*Header*/

.header__inner {
    margin: 50px 0 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

/*Nav*/

.nav__link {
    font-size: 18px;
    font-weight: 300;
    color: #989898;
    text-decoration: none;
    margin-right: 25px;
}

/*Intro*/

.intro__inner {
    height: 520px;
    text-align: center;
    position: relative;
}

.intro__header {
    padding: 124px 0 70px;
}

.intro__title {
    font-size: 48px;
    color: #000;
    font-weight: 700;
}

.intro__title:after {
    content: "";
    display: block;
    height: 2px;
    width: 55px;
    background-color: #000;
    margin: 29px auto 25px;
}
    
.intro__subtitle {
    font-size: 24px;
    color: #000;
    font-weight: 300;
}

.intro__btn {
    height: 50px;
    width: 170px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;

    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

    cursor: pointer;

    transition: background .2s linear, color .2s linear
}

.intro__btn__link {
    text-decoration: none;
    color: #fff;
}

.intro__btn:hover {
    background-color: #fff;
    color: #000;
    border: 0;
}

.intro__img {
    position: absolute;
    right: 27px;
    top: 223px;
}


/*Section*/

.section__inner {
    padding: 80px 0 0;
}

.section__name {
    font-size: 60px;
    color: #000;
    text-align: center;
    margin-bottom: 80px;
    font-weight: 500;
}

.section__main {
    display: flex;
    justify-content: space-between;
}

.section__img {
    width: 48.7%;
    height: 560px;
    width: 560px;
    object-fit: cover
}

.section__info {
    width: 42.64577%;
}

.section__suptitle {
    font-size: 30px;
    font-weight: 300;
    color: #000;
    margin-bottom: -10px;
}

.section__title {
    font-size: 48px;
    font-weight: 700;
    color: #000;
}

.section__title:after {
    content: "";
    display: block;
    height: 2px;
    width: 55px;
    background-color: #000;
    margin: 20px 0 29px;
}

.section__text {
    margin-bottom: 45px;

    font-weight: 300;
    font-size: 18px;
    color: #656565;
}

.section__btn {
    height: 50px;
    width: 170px;
    background-color: #fff;
    color: #000;

    border: 1px solid #ddd;
    border-radius: 30px;

    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

    cursor: pointer;

    transition: background .2s linear, color .2s linear
}

.section__btn__link {
    text-decoration: none;
    color: #000;
}

.section__btn:hover {
    background-color: #000;
    color: #fff;
    border: 0;
}

/*Work*/

.work__name {
    font-size: 60px;
    color: #000;
    text-align: center;
    margin: 80px 0 80px;
    font-weight: 500;
}

.work__works {
    display: flex;
    justify-content: space-between;
}

.work__item-1 {
    margin-bottom: 28px;
}

.btndiv {
    display: flex;
    justify-content: center;
}

.work__btn {
    margin: 50px auto 50px;

    height: 50px;
    width: 170px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;

    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

    cursor: pointer;

    transition: background .2s linear, color .2s linear
}

.work__btn__link {
    text-decoration: none;
    color: #fff;
}

.work__btn:hover {
    background-color: #fff;
    color: #000;
    border: 0;
}

/*Team*/

.team {
    background-color: #ffe1bd;
}

.team__inner {
    position: relative;
}

.team__name {
    font-size: 60px;
    color: #000;
    text-align: center;
    padding: 80px 0 80px;
}

.team__main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.team__col {
    width: 26.399%;
}

.team__face {
    margin-bottom: 18px;
    border-radius: 50%;
}

.team__author {
    font-size: 40px;
    font-weight: 700;
    color: #000;
}

.team__author:after {
    content: "";
    display: block;
    height: 2px;
    width: 55px;
    background-color: #000;
    margin: 12px auto 15px;
}

.team__job {
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

.team__left {
    position: absolute;
    top: 288px;
    left: 0;
}

.team__right {
    position: absolute;
    top: 288px;
    right: 0;
}

.team__dots {
    display: flex;
    justify-content: center;
    margin: 46px 0 0;
    padding-bottom: 100px;
}

/*Clients*/

.clients__name {
    font-size: 60px;
    color: #000;
    text-align: center;
    padding: 80px 0 80px;
}

.clients__main {
    display: flex;
    padding-bottom: 76px;
    justify-content: space-between;
}

.clients__col-1 {
    width: 19.4952%;
    text-align: right;
    padding-left: 254px;
}

.clients__col-2 {
    width: 42%;
    padding-right: 69px;
}

.clients__author {
    font-size: 40px;
    font-weight: 700;
    color: #000;
}

.clients__author:after {
    content: "";
    display: block;
    height: 2px;
    width: 55px;
    background-color: #000;
    margin: 12px 0 15px 167px;
}

.clients__job {
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

.clients__text {
    font-size: 18px;
    font-weight: 300;
    color: #656565;
}

.clients__img {
    display: flex;
    justify-content: space-between;
}

.clients__photo {
    margin-right: 28px;
}

.clients__photo:last-child {
    margin-right: 0;
}

.clients__dots {
    display: flex;
    justify-content: center;
    margin: 77px 0 0;
    padding-bottom: 97px;
}


/*Footer*/

footer {
    background-color: #000;
    color: #fff;
}

.footer__name {
    font-size: 60px;
    text-align: center;
    padding: 80px 0 80px;
    font-weight: 400;
}

.footer__col {
    display: flex;
}

.footer__col-1 {
    width: 51%;
    margin-right: 125px;
    font-size: 18px;
}

.footer__col-1 a {
    text-decoration: none;
    color: inherit;
} 

.footer__col-2 {
    width: 48%;
    margin-right: 98px;
}

.footer__address {
    margin-bottom: 43px;
    font-style: normal;
    display: flex;
    justify-content: space-around;
}

.footer__address i {
    padding-top: 4px;
    padding-right: 30px;
}

.footer__phone {
    margin-bottom: 43px;

    transition: color .2s linear;
}

.footer__phone i {
    padding-right: 22px;
}

.footer__mail{
    margin-bottom: 43px;

    transition: color .2s linear;
}

.footer__mail i {
    padding-right: 23px;
}

.footer__mail:hover,
.footer__phone:hover {
    color: #ffe1bd;
} 

.footer__social {
    letter-spacing: 7px;
    font-size: 40px;
    padding-bottom: 116px;
}

.footer__social a {
    transition: color .2s linear;
}

.footer__social a:hover {
    color: #ffe1bd;
}

.footer__input {
    border-bottom: 1px solid #333;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #000;
    width: 462px;
    height: 40px;
    margin-bottom: 50px;

    font-family: 'Montserrat', sans-serif;
    color: #666;
    font-size: 18px;
    font-weight: 300;
}

.footer__input__btn {
    height: 50px;
    width: 170px;
    background-color: #fff;
    color: #000;

    border: 1px solid #ddd;
    border-radius: 30px;

    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

    cursor: pointer;

    transition: background .2s linear, color .2s linear
}

.footer__input__btn__link {
    text-decoration: none;
    color: #000;
}

.footer__input__btn:hover {
    background-color: #ffe1bd;
    border: 0;
}

/*Copyright*/

.copyright__align {
    text-align: center;
    margin: 45px 0 45px;
}

.copyright {
    font-size: 14px;
    font-weight: 300;
    color: #656565;
}

.copyright span {
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.s364 {
    height: 364px;
    width: 364px;
    object-fit: cover
}

.s364x590 {
    width: 364px;
    height: 590px;
    object-fit: cover
}

.s266x140 {
    width: 266px;
    height: 140px;
    object-fit: cover
}

.s168 {
    width: 168px;
    height: 168px;
    object-fit: cover
}








